:root {
  --fw-thin: 100;
  --fw-extralight: 200;
  --fw-light: 300;
  --fw-normal: 400;
  --fw-medium: 500;
  --fw-semibold: 600;
  --fw-bold: 700;
  --fw-extrabold: 800;
  --fw-black: 900;

  --ff: "Rubik", sans-serif;

  --clr-white: hsl(0, 100%, 100%);
  --clr-black: hsl(0, 0%, 0%);

  --clr-grey-50: hsl(220, 38%, 97%);
  --clr-grey-500: hsl(219, 13%, 44%);

  --clr-blue-50: hsl(225, 100%, 96%);
  --clr-blue-100: hsl(220, 50%, 95%);
  --clr-blue-300: hsl(216, 47%, 78%);
  --clr-blue-500: hsl(223, 100%, 59%);
  --clr-blue-850: hsl(215, 27%, 32%);
  --clr-blue-900: hsl(216, 25%, 25%);
  --clr-blue-950: hsl(214, 24%, 23%);

  --clr-green-100: hsl(151, 88%, 94%);
  --clr-green-500: hsl(151, 68%, 52%);

  --clr-purple-100: hsl(278, 100%, 95%);
  --clr-purple-600: hsl(277, 91%, 56%);

  --clr-orange-50: hsl(27, 100%, 96%);
  --clr-orange-400: hsl(22, 100%, 60%);

  --clr-red-500: hsl(0, 82%, 63%);

  --bg-icon-moon-light: url("./assets/images/icon-moon-light.svg");
  --bg-icon-moon-dark: url("./assets/images/icon-moon-dark.svg");

  --bg-icon-sun-light: url("./assets/images/icon-sun-light.svg");
  --bg-icon-sun-dark: url("./assets/images/icon-sun-dark.svg");

  /* Light theme colors */
  --bg-color: var(--clr-grey-50);
  --text-color: var(--clr-blue-900);

  --pattern-mobile: url("./assets/images/pattern-background-mobile-light.svg");
  --pattern-tablet: url("./assets/images/pattern-background-tablet-light.svg");
  --pattern-desktop: url("./assets/images/pattern-background-desktop-light.svg");

  --bg-icon-moon: url("./assets/images/icon-moon-light.svg");
  --bg-icon-sun: url("./assets/images/icon-sun-light.svg");

  --bg-btn-choice: var(--clr-white);

  --bg-range-wrapper: var(--clr-white);

  --bg-answer-option-wrapper: var(--clr-white);
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

html {
  font-size: 62.5%;
}

body {
  font-family: var(--ff);
  font-weight: var(--fw-normal);
  background-color: var(--bg-color);
  background-image: var(--pattern-mobile);
  background-repeat: no-repeat;
  background-position: left top;
  background-size: cover;
  background-attachment: fixed;

  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;

  justify-content: flex-start;
  align-items: center;
}

main {
  width: 100%;
  max-width: 375px;
}

.quiz-header,
.quiz {
  padding-left: 24px;
  padding-right: 24px;
}

.quiz {
  padding-top: 32px;
}

.quiz-header {
  justify-content: space-between;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 16px;
}

.quiz-header--option-selected {
  gap: 2px;
  min-height: 40px;
  width: fit-content;
  min-width: 10px;
}

.quiz-header__toggle {
  gap: 5px;
  align-items: center;
}

.quiz-header__toggle span {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  filter: invert(1);
}

.question {
  grid-area: question;
}

.quiz-answers {
  grid-area: quiz-answers;
}

.question p {
  font-size: 1.4rem;
  font-weight: var(--fw-light);
  font-style: italic;
  margin-bottom: 16px;
}

.question h2 {
  font-size: 2rem;
  font-weight: var(--fw-medium);
  margin-bottom: 24px;
  text-wrap: auto;
}

.quiz-progress-bar-wrapper {
  padding: 4px;
  background: var(--bg-range-wrapper);
  border-radius: 104px;
}

.quiz-progress-bar {
  width: 100%;
  background-color: var(--clr-purple-600);
  border-radius: 104px;
  height: 8px;
  outline: none;
}

.quiz-answers fieldset {
  margin-top: 40px;
  margin-bottom: 16px;
  border: none;
  gap: 16px;
}

.quiz-answer-option-wrapper .answer-option-wrapper {
  outline: none;
  background-size: 30px 30px;
  background-repeat: no-repeat;
  background-position: 95% 50%;
}

.quiz-answer-option-wrapper:focus {
  outline: 1px dotted var(--clr-purple-600);
  outline-offset: 2px;
  border-radius: 4px;
}

.quiz-answer-option-wrapper input[type="radio"] {
  display: none;
}

.answer-option-wrapper {
  gap: 16px;
  align-items: center;
  justify-content: flex-start;
  padding: 16px;
  border: 1px solid transparent;
  background: var(--bg-answer-option-wrapper);
  border-radius: 12px;
}

.answer-option-wrapper .answer-option,
.answer-option-wrapper .answer-text {
  font-size: 1.8rem;
  font-weight: var(--fw-medium);
}

.answer-option {
  display: inline-block;
  border-radius: 12px;
  background: var(--clr-grey-50);
  color: var(--clr-black);

  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quiz-answer-option-wrapper
  input[type="radio"]:checked
  + .answer-option-wrapper {
  border-color: var(--clr-purple-600);
}

.quiz-answer-option-wrapper
  input[type="radio"]:checked
  + .answer-option-wrapper
  .answer-option {
  background: var(--clr-purple-600);
  color: var(--clr-white);
}

.answer-actions button {
  width: 100%;
  background-color: var(--clr-purple-600);
  color: var(--clr-white);
  font-size: 1.8rem;
  font-weight: var(--fw-medium);
  padding: 16px;
  border-radius: 12px;
}

.quiz-answer-option-wrapper.correct
  input[type="radio"]:checked
  + .answer-option-wrapper,
.quiz-answer-option-wrapper.correct .answer-option-wrapper {
  border-color: var(--clr-green-500);
}

.quiz-answer-option-wrapper.correct
  input[type="radio"]:checked
  + .answer-option-wrapper
  .answer-option,
.quiz-answer-option-wrapper.correct .answer-option-wrapper .answer-option {
  background-color: var(--clr-green-500);
  color: var(--clr-white);
}

.quiz-answer-option-wrapper.correct .answer-option-wrapper {
  background-image: url("./assets//images/icon-correct.svg");
}

.quiz-answer-option-wrapper.error
  input[type="radio"]:checked
  + .answer-option-wrapper,
.quiz-answer-option-wrapper.error .answer-option-wrapper {
  border-color: var(--clr-red-5000);
}

.quiz-answer-option-wrapper.error
  input[type="radio"]:checked
  + .answer-option-wrapper
  .answer-option,
.quiz-answer-option-wrapper.error .answer-option-wrapper .answer-option {
  background-color: var(--clr-red-500);
  color: var(--clr-white);
}

.quiz-answer-option-wrapper.error .answer-option-wrapper {
  background-image: url("./assets//images/icon-error.svg");
}

.icon-sun {
  background-image: var(--bg-icon-sun);
}

.icon-moon {
  background-image: var(--bg-icon-moon);
}

.quiz-choices--wrapper h1 {
  font-size: 4rem;
  line-height: 1.2;
  font-weight: var(--fw-light);
  margin-bottom: 16px;
}

.quiz-choices--wrapper h1 strong {
  font-weight: var(--fw-semibold);
}

.quiz-choices--wrapper p {
  font-size: 1.6rem;
  font-weight: var(--fw-light);
  font-style: italic;
}

.quiz-choices--list {
  margin-top: 40px;
  gap: 16px;
}

.quiz-choices--list button {
  border-radius: 12px;
  background-color: var(--bg-btn-choice);
  width: 100%;
  align-items: center;
  gap: 16px;
  padding: 16px;
}

.quiz-choices--list button img {
  width: 40px;
  height: 40px;
  padding: 5px;
}

.quiz-header--option-selected {
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.quiz-header--option-selected img {
  width: 40px;
  height: 40px;
  padding: 5px;
}

.quiz-header--option-selected span {
  font-size: 1.8rem;
  font-weight: var(--fw-medium);
}

.bg-orange {
  background-color: var(--clr-orange-50);
}

.bg-green {
  background-color: var(--clr-green-100);
}

.bg-blue {
  background-color: var(--clr-blue-50);
}

.bg-purple {
  background-color: var(--clr-purple-100);
}

.quiz-choices--list button span {
  font-size: 1.6rem;
  font-weight: var(--fw-medium);
}

.hidden {
  display: none !important;
}

.quiz-choices-description {
  grid-area: wizard-choices-description;
}

.quiz-choices--list {
  grid-area: wizard-choices-list;
}

@media screen and (min-width: 768px) {
  body {
    background-image: var(--pattern-tablet);
    background-position: left top;
    background-size: 50%;
  }

  main {
    max-width: 640px;
  }

  .quiz {
    padding-left: 0;
    padding-right: 0;
  }

  .quiz-choices--wrapper h1 {
    max-width: 12ch;
    font-size: 6.4rem;
  }

  .quiz-choices--wrapper p {
    font-size: 2rem;
  }

  .quiz-header--option-selected img,
  .quiz-choices--list button img {
    width: 50px;
    height: 50px;
  }

  .quiz-header--option-selected span,
  .quiz-choices--list button span {
    font-size: 2.8rem;
  }

  .quiz-header {
    padding-top: 32px;
    padding-left: 0;
    padding-right: 0;
  }

  .quiz-header__toggle {
    gap: 10px;
  }

  .quiz-choices--list button {
    border-radius: 24px;
  }

  .question p {
    font-size: 2rem;
  }

  .question h2 {
    font-size: 3.6rem;
    line-height: 1.2;
  }

  .question p {
    margin-bottom: 24px;
  }

  .question h2 {
    margin-bottom: 40px;
  }

  .quiz-answers fieldset {
    gap: 24px;
  }

  .answer-option-wrapper .answer-option,
  .answer-option-wrapper .answer-text {
    font-size: 2.8rem;
  }

  .answer-option {
    width: 56px;
    height: 56px;
  }
}

@media screen and (min-width: 1440px) {
  body {
    background-image: var(--pattern-desktop);
    background-size: contain;
    background-position: left top;
  }

  main {
    max-width: 1157px;
  }

  .quiz-choices--wrapper h1 {
    margin-bottom: 48px;
  }

  .quiz-choices--wrapper {
    display: grid;
    grid-template-columns: 465px 1fr 564px;
    grid-template-areas: "wizard-choices-description . wizard-choices-list";
  }

  .quiz-questions--wrapper {
    display: grid;
    grid-template-columns: 466px 1fr 564px;
    grid-template-areas: "question . quiz-answers";
  }

  .quiz-choices--list {
    margin-top: 0;
  }

  .quiz {
    padding-top: 70px;
  }

  .quiz-header {
    padding-top: 80px;
  }

  .quiz-progress-bar-wrapper {
    margin-top: auto;
    margin-bottom: 70px;
  }
}
